section.section(style='height: 100%')
  .container(style='height: 100%')
    .columns.is-mobile.is-vcentered(style='height: 100%')
      .column.is-8.is-offset-2(style='margin-top: -10rem')
        .columns(style='margin-bottom: -1.5rem')
          .column
            h1(style='font-size: 6rem') meowle
          .column.is-hidden-mobile
            figure.image.is-128x128.is-pulled-right
              img(src='/img/cat.png')

        form(method='GET' action='/search')
          .field
            .control
              .dropdown#suggestions(style='width: 100%')
                input#cat-name.input(type='text' placeholder='Введите часть имени' name='needle' autocomplete='off')
                .dropdown-menu(role="menu")
                  .dropdown-content
          .field
            .control.has-text-centered
              button#search-button.button.is-light(type='submit' disabled='')
                span.icon
                  i.fas.fa-search
                span Найти имя коту
              a(href='/all-names')
                button.button.is-light(type='button' style='margin-left: 1rem')
                  span.icon
                    i.fas.fa-search
                  span Все имена
              a(href='/top-names')
                button.button.is-light(type='button' style='margin-left: 1rem')
                  span.icon
                    i.fas.fa-heart
                  span ТОП-10 имён
              a(href='/anti-top-names')
                button.button.is-light(type='button' style='margin-left: 1rem')
                  span.icon
                    img(src='/img/heart-broken-solid.svg' width='16px')
                  span АнтиТОП-10 имён
script(type='text/javascript', src='/js/search-cats.js')
