extends extends/main
block title
  |  АнтиТОП-10 имён
block append styles
block append scripts
block content
  section.section
    .container
      .columns
        .column.is-2
          figure.image.is-64x64.is-pulled-right
            img(src='/img/cat.png')
        .column
          .title.is-3
            | АнтиТОП-10 имён котиков
          table(border=0)
            tbody
              each item, index in namesList
                tr
                  td(width='40px')
                    | #{index + 1}.
                  td(width='200px')
                    | #{item.name}
                  td
                    span.icon
                      i.far.fa-thumbs-down
                    | #{item.dislikes}
