doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Meowle
    link(rel='stylesheet', href='/css/bulma.min.css')
    link(rel='stylesheet', href='/css/fontawesome.all.min.css')
    style.
      html, body {
      height: 100%;
      }
  body
    section.section(style='height: 100%')
      .container(style='height: 100%')
        .columns.is-mobile.is-vcentered(style='height: 100%')
          .column.is-8.is-offset-2
            .columns(style='margin-bottom: -1.5rem')
              .column
                h1(style='font-size: 6rem') meowle
              .column
                figure.image.is-128x128.is-pulled-right
                  img(src='/img/cat.png')

            form(method='POST', action='/search')
              .field
                .control(style='width: 100%')
                  input.input(type='text', placeholder='Введите часть имени', name='needle', autocomplete='off')
              .field
                .control.has-text-centered
                  button.button.is-light(type='submit')
                    span.icon
                      i.fas.fa-search
                    span Найти имя коту