extends extends/main
block title
  | Meowle
block append styles
block append scripts
  script(type='text/javascript' src='/js/button-disabling.js')
block header
block content
  include includes/index-search.pug
  a.button.is-light.has-background-warning(href='/cats/add' style={
    position: 'absolute',
    right: '20px',
    bottom: '20px'
  }).show-add-names
    span.icon
      i.fas.fa-plus
  
  input#validation-rules(type='hidden', value=validationRules)
  if showSuccessPopup
    input#popup(type='hidden', value=popupMessage)
    script(type='text/javascript' src='/js/popup.js')
  else if showFailPopup
    input#popup-fail(type='hidden', value=popupFailMessage)
    script(type='text/javascript' src='/js/popup-fail.js')
