doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Meowle
    link(rel='stylesheet', href='/css/bulma.min.css')
    link(rel='stylesheet', href='/css/fontawesome.all.min.css')

    script(type='text/javascript', src='/libs/alertifyjs/alertify.min.js')
    link(rel='stylesheet', href='/libs/alertifyjs/css/alertify.min.css')
    link(rel='stylesheet', href='/libs/alertifyjs/css/themes/bootstrap.min.css')

    style.
      html, body {
        height: 100%;
      }
  body
    section.section(style='height: 100%')
      .container(style='height: 100%')
        .columns.is-mobile.is-vcentered(style='height: 100%')
          .column.is-8.is-offset-2(style='margin-top: -10rem')
            .columns(style='margin-bottom: -1.5rem')
              .column
                h1(style='font-size: 6rem') meowle
              .column.is-hidden-mobile
                figure.image.is-128x128.is-pulled-right
                  img(src='/img/cat.png')

            form(method='GET', action='/search')
              .field
                .control(style='width: 100%')
                  input#cat-name.input(type='text', placeholder='Введите часть имени', name='needle', autocomplete='off')
              .field
                .control.has-text-centered
                  button.button.is-light(type='submit')
                    span.icon
                      i.fas.fa-search
                    span Найти имя коту
    button.button.is-light.has-background-warning(style={ position: 'absolute', right: '20px', bottom: '20px' }).show-add-names
      span.icon
        i.fas.fa-plus
    .modal.is-clipped
      .modal-background
      .modal-card
        header.modal-card-head
          p.modal-card-title Добавить имена в базу котиков
          figure.image.is-64x64.modal-card-title
            img(src='/img/cat-icon.png')
        section.modal-card-body
          .column
            form(method='POST', action='/cats/add')
              .field.has-addons
                .control.is-expanded
                  input.input(
                    type='text', 
                    placeholder='Введите имя',
                    name='catName'
                  )
                .control
                  button.button.is-light.add-new-name
                    span.icon
                      i.fas.fa-plus
              button.button.is-warning(type='submit') Добавить
      button.modal-close.is-large(aria-label='close')
    script(type='text/javascript', src='/js/addnames.js')

    input#validation-rules(type='hidden', value=validationRules)
    script(type='text/javascript', src='/js/validation.js')

    if showSuccessPopup
      script(type='text/javascript', src='/js/popup.js')
    else if showFailPopup
      script(type='text/javascript', src='/js/popup-fail.js')