.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.photo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.photo.upload {
    border: 2px solid var(--info-color);
    cursor: pointer;
    text-align: center;
}

.photo.upload .title {
    display: block;
    padding-top: 50%;
    font-size: 16px;
    line-height: 0;
    transition: color .3s;
}

.photo.upload:hover .title {
    color: var(--grey-light-color);
}

.photo.upload input[type='file'] {
    outline: none;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.photo.upload label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}