doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title
      block title
    block styles
      link(rel='stylesheet', href='/css/bulma.min.css')
      link(rel='stylesheet', href='/css/fontawesome.all.min.css')
      link(rel='stylesheet', href='/css/variables.css')
      link(rel='stylesheet', href='/libs/alertifyjs/css/alertify.min.css')
      link(rel='stylesheet', href='/libs/alertifyjs/css/themes/bootstrap.min.css')
      style.
        html, body {
          height: 100%;
        }
    script(type='text/javascript', src='/libs/alertifyjs/alertify.min.js')
  body
    block header
      include ../includes/header.pug
    block content
    block scripts